@font-face
{
    font-family: Soleto-Regular;

    src: url(../assets/fonts/Soleto_Rg.ttf);
}

@font-face
{
    font-family: Soleto-Light;

    src: url(../assets/fonts/Soleto_Lt.ttf);
}

@font-face
{
    font-family: Soleto-Bold;

    src: url(../assets/fonts/Soleto_XBd.ttf);
}
html:-webkit-full-screen-ancestor
{
    background-color: #062359;
}
body
{
    font-family: Soleto-Regular;

    width: 1920px;
    height: 1080px;

    background-image: url(../assets/new/background.png);
    background-repeat: no-repeat;

    -webkit-font-smoothing: antialiased;
    /*    cursor: none;*/
}
img
{
    position: relative !important;

    width: 100%;
}
.img-div
{
    position: absolute;

    overflow: hidden;
}
/*.img-div > img {
	display: none;
}*/
.left
{
    left: 0;
}
.right
{
    right: 0;
}
button
{
    border: none;
    background: none;
}
button:focus
{
    outline: 0;
}
.slide-btn
{
    position: absolute;
}
a
{
    background: none !important;
}
#slideNumber
{
    font-size: 32em;

    position: absolute;
    right: -4%;

    display: none;
    float: right;

    height: 5%;

    color: rgba(238, 238, 238, .46);
    background: none;
}
#first-background
{
    display: none;
}
#watermark
{
    position: absolute !important;
    bottom: 0;
    left: 0;

    width: 48%;
}
#video-background
{
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
#header-title
{
    position: absolute !important;
    top: 11px;

    width: 41%;
}
#close
{
    position: absolute;
    right: 60px;
    bottom: 25px;

    display: none;

    width: 60px;
    height: 60px;

    background: url(../assets/exitbutton_white@2x.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#exit-fs
{
    position: absolute;
    z-index: 3000;
    bottom: 0;
    left: 0;

    width: 7%;
    height: 10%;
}

/* MAIN NAVIGATION */

.right-nav
{
    position: absolute;
    z-index: 1000;
    top: 36%;
    right: 20px;

    width: 60px;
    height: 165px;
}
.left-nav
{
    position: absolute;
    z-index: 1000;
    top: 36%;

    float: left;

    width: 60px;
    height: 165px;
}
#home
{
    width: 60px;
}
#home-btn
{
    width: 60px;
    height: 50px;
}
.nav-btn
{
    display: block;

    width: 100%;
    height: 50%;

    background-repeat: no-repeat;
    background-position: 20px 0;
    background-size: 64% 100%;
}
.f_left
{
    background-image: url(../assets/new/Arrow_left.png);
    background-repeat: no-repeat;
}
.f_right
{
    background-image: url(../assets/new/Arrow_right.png);
    background-repeat: no-repeat;
}
.leftSlide
{
    background-image: url(../assets/icon-caret-left.png);
}
.rightSlide
{
    margin-bottom: 20px;

    background-image: url(../assets/icon-caret-right.png);
}
.f_left.disabled,
.leftSlide.disabled
{
    background-image: url(../assets/Arrow_light_light.png);
}
.f_right.disabled,
.rightSlide.disabled
{
    background-image: url(../assets/Arrow_light_right.png);
}

/* HEADER */

.top-header {
    position: absolute;
    width: 100%;
    margin-top: 35px;
    margin-left: 83px;
    z-index: 10;
}
.top-header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-header > ul > li {
    display: inline;
    text-align: center;
    padding: 0px 15px;
    color: #000;
    font-size: 20px;
    font-family: Soleto-Regular;
}
.top-header > ul > li.active {
    color: #0000ff;
}
.top-header > ul:not(#custom_header) > li:not(:last-child) {
    border-right: 1px solid #000;
}
#last_header {
    display: none;
}
#custom_header > li:not(.active) {
    display: none;
}
#add-header:not(.active),
#ea-header:not(.active),
#pte-header:not(.active),
#mh-header:not(.active),
#dsf-header:not(.active), 
#ele-header:not(.active) {
    display: none;
}

#add-header > li:not(.active) {
    display: none;
}
#add-header > li.active {
    border-right: none !important;
}

/* FOOTER */

.btm-nav-btn
{
    height: 59px;

    color: #fff;
}
.footer-menu
{
    position: absolute;

    width: 100%;

    text-align: center;

    background: #0000ff;
}
.left-nav.blur,
.right-nav.blur,
.footer-menu.blur
{
    z-index: 0 !important;
}
.footer-menu > ul
{
    margin: 0;
    margin-top: 1.2%;
    margin-bottom: 1.2%;
    margin-left: 15%;
    padding: 0;

    list-style-type: none;
}

.footer-menu > ul > li > a:hover,
.footer-menu > ul > li > a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:hover
{
    background-color: transparent !important;
}
.dropdown-menu > li > button#pep-btn, 
.dropdown-menu > li > button#eap-btn {
    margin-top: 8px;
}
.footer-menu > ul > li
{
    font-family: Soleto-Bold;
    font-size: 18px;

    display: inline;

    height: 60px;
    /*	padding: 3px 15px;*/
    margin-right: 105px;

    text-align: center;

    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.footer-menu > ul > li:not(#dropUp):not(#home)
{
    width: 280px;

    border: 3px solid #fff;
    /*	background-image: url(../assets/btn_blank_orange@2x.png);*/
}
.footer-menu > ul > li:not(#dropUp):not(#home).active
{
    color: #000;
    border: 3px solid #fff;
    background: #fff;
    /*	background-image: url(../assets/btn_blank_orange_full@2x.png);*/
}
.footer-menu > ul > li:not(#dropUp):not(#home).active > button
{
    color: #0000ff;
}
.footer-menu > ul > li#home
{
    float: left;

    background-image: url(../assets/new/btn-home@2x.png);
}
.footer-menu > ul > li#dropUp
{
    float: right;
}
#dropUp > #navigator-btn
{
    width: 60px;
    height: 60px;

    border: none;
    background: none;
    background-image: url(../assets/new/btn-menu@2x.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#dropUp.active > #navigator-btn
{
    background-image: url(../assets/menubox_blue@2x.png);
}
.dropdown-menu
{
    width: 215px;
    height: 359px;
    margin-left: -77px;
    bottom: 144% !important;
    border: none;
    background: none;
    background-image: url(../assets/Dropup_Electrification@2x.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: none;
}
.dropdown-menu > li
{
    width: 94%;
    height: 51px;
    margin: auto;

    text-align: center;
}
.dropdown-menu > li:not(:last-child)
{
    border-bottom: 1px solid rgba(255, 255, 255, .50);
}
.dropdown-menu > li > button
{
    line-height: 17px;

    margin-top: 15px;

    color: rgba(255, 255, 255, .70);
    background: none !important;
}
.dropdown-menu > li > button.active
{
    color: rgba(255, 255, 255, 1.00);
}
/* SECTIONS */
.main-title
{
    font-family: Soleto-Light;
    font-size: 55px;

    padding-top: 30px !important;
    padding-bottom: 33px !important;
    padding-left: 18px !important;

    text-align: left;

    opacity: 0;
    color: #00f;
}
.main-title:not(.active)
{
    display: none;
}

#PTE_1 > .main-title
{
    margin-top: 1.2%;
    margin-left: 3%;
    text-decoration: underline;
}
#ADD_container > section > .main-title
{
    margin-top: -30px;
}
#ADD_5 > .sub-title {
	margin-top: -3%;
}
.sub-title
{
    font-size: 18px;

    position: absolute;
    top: 150px;
    left: 22px;

    text-align: left;

    color: #00f;
}
.content
{
    padding-top: 65px;
}
.footer-text
{
    font-size: 34px;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 130px;

    color: #00f;
}
.footer-text > p
{
    line-height: 40px;
    font-family: Soleto-Light;
    padding-top: 30px;
}
.footer-text > p.double
{
    padding-top: 22px;
}

.top-footer-line,
.btm-footer-line
{
    position: absolute;

    overflow: hidden;

    width: 0;
    height: 100%;
}
.top-footer-line > img,
.btm-footer-line > img
{
    position: absolute !important;

    width: 1073px;
}
.btm-footer-line > img
{
    right: 0;
    bottom: 0;
}
.top-footer-line > img
{
    left: 0;
}
.top-footer-line
{
    top: 0;
    left: -5%;
}
.btm-footer-line
{
    right: -5%;
    bottom: 0;
}
.full-width
{
    top: 25%;
    left: 5%;

    width: 90%;
}
.video-img
{
/*    width: 65%;
    left: 16.5%;
    top: 21%;*/
    top: 130px;
    left: -93px;

    width: 110%;
}
.circle-img
{
    top: 24%;
    left: 15%;

    width: 28%;
}
.bullets
{
    top: 28%;
    right: 4%;

    width: 40%;
}
.electrification-list {
    top: 19%;
    left: 1%;
    width: 25%;
}
.electrification-footer {
    width: 62%;
    top: 78%;
    right: 90px;
}
.electrification-car {
    right: 60px;
    width: 67%;
}
.center-graph
{
    top: 23%;
    left: 20%;

    width: 56%;
}
.left-img
{
    top: 28%;
    left: 6%;

    width: 25%;
}
.right-text
{
    top: 22%;
    right: 1%;

    width: 63%;
}
.play-video
{
    position: absolute;
    top: 73%;
    left: 28%;

    width: 3%;
    height: 6%;
    /*	background: url(../assets/play_sm.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
}
.modal
{
    top: -5%;
    right: -5%;
    bottom: -17%;
    left: -5%;
}
.modal.popup > img {
    width: 65%;
    top: 12%;
}
video
{
    position: absolute;
    z-index: 1075;
    left: 376px;

    width: 1154px;
    margin-top: 231px !important;
}
.video-btn
{
    position: absolute;
    z-index: 1000;
    top: 382px;
    left: 800px;

    width: 190px;
    height: 205px;
}
.modal-close
{
    position: absolute;
    z-index: 2000;
    top: 213px;
    right: 399px;

    width: 55px;
    height: 55px;

    background: url(../assets/Global_box_blue@2x.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.modal.popup > .modal-close {
    top: 130px;
    right: 340px;
}
.modal-background
{
    position: absolute;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .41);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#EA_5 > .footer-text > p {
    font-size: 28px;
}
#ADD_15 > .footer-text > p {
    font-size: 33px;
    padding-top: 46px;
}
#DSF_video > .modal-close {
    right: 413px !important;
    top: 231px !important;
}
#DSF_DC_video > .modal-close {
    right: 414px !important;
    top: 231px !important;  
}
/*#HPI_2 > h1 {
	margin-top: 20px;
}
#ADD_5 > h1 {
    margin-top: 48px;
}*/
#Wireless_video > video {
    width: 427px;
    left: 776px;
    top: -27px;
}
#Viper_video > .modal-close {
    top: 230px;
    right: 412px;
}
#Wireless_video > .modal-close {
 top: 203px;
 right: 739px;
}
.one-line {
    line-height: 62px;
}
.auto-video.cover > video {
    width: 110%;
    position: absolute;
    left: -82px;
    top: -310px;
}
.auto-video.side > video {
    left: 49% !important;
    width: 36%;
    top: -4%;
}
#HSD_1 > video,
#HSD_2 > video,
#HSD_3 > video,
#HSD_4 > video {
    left: 38% !important;
    width: 59% !important;
    top: -4% !important;
    z-index: -1;
}
#PTE_4 > .footer-text > p {
    font-size: 33px;
    padding-top: 41px;
}
#HSD_1_2 > video {
    left: 75.8% !important;
    width: 11.6%;
    top: 43.5%;
    z-index: -1;
}
.MH-top-line {
    width: 50%;
    left: 30.1%;
    top: 16.5%;
}
.MH-btm-line {
    width: 54.1%;
    left: 50.7%;
    top: 82%;
}
.car-mask {
    z-index: -1;
    width: 108.6%;
    top: -5.7%;
    left: -4.2%;
}
.reveal .slides section .fragment {
    -webkit-transition: none !important;
    transition: none !important;
}
#MM-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1031;
    background-image: url(../assets/MAIN_MENU.png);
    background-repeat: no-repeat;
}
/* MAIN MENU STYLING */
#MM-container > button:not(#ele-mm-btn) {
    position: absolute;
    width: 420px;
    height: 100px;
}
#dsf-mm-btn {
    top: 330px;
    left: 150px;
}
#mh-mm-btn {
    top: 480px;
    left: 150px;
}
#id-mm-btn {
    top: 620px;
    left: 150px;
}
#ele-mm-btn {
    position: absolute;
    width: 280px;
    height: 80px;
    top: 820px;
    left: 150px;
}

#DSF-vid-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1032;    
}
#DSF-vid-container > video {
    margin-top: 0px !important;
    left: 0px;
    height: 100%;
    width: 100%;
}
#DSF-vid-container > .modal-close {
    width: 75px;
    height: 75px;
    top: 0;
    right: 0;
}
#ELE_2 > .fragment > .modal > button {
    top: 131px;
    right: 340px;
}
.slide-btn.circle {
    background-size: 100% 100%;  
    background-repeat: no-repeat; 
}
.circle#EV_1_btn, 
.circle#PHEV_1_btn, 
.circle#HEV_1_btn, 
.circle#SI_1_btn
{
    background-image: url(../assets/popups/1_HybridButton.png);
}
.circle#EV_2_btn, 
.circle#PHEV_2_btn, 
.circle#HEV_2_btn, 
.circle#SI_2_btn
{
    background-image: url(../assets/popups/2_HybridButton.png);
}
.circle#EV_3_btn, 
.circle#PHEV_3_btn, 
.circle#HEV_3_btn, 
.circle#SI_3_btn
{
    background-image: url(../assets/popups/3_HybridButton.png);
}
.circle#EV_4_btn, 
.circle#PHEV_4_btn, 
.circle#HEV_4_btn, 
.circle#SI_4_btn
{
    background-image: url(../assets/popups/4_HybridButton.png);
}
.circle#EV_5_btn, 
.circle#PHEV_5_btn, 
.circle#HEV_5_btn, 
.circle#SI_5_btn
{
    background-image: url(../assets/popups/5_HybridButton.png);
}
.circle#EV_6_btn, 
.circle#PHEV_6_btn, 
.circle#HEV_6_btn, 
.circle#SI_6_btn
{
    background-size: 100% 100%;
    background-image: url(../assets/popups/6_HybridButton.png);
    background-repeat: no-repeat;
}
.circle#EV_7_btn, 
.circle#PHEV_7_btn, 
.circle#HEV_7_btn, 
.circle#SI_7_btn
{
    background-size: 100% 100%;
    background-image: url(../assets/popups/7_HybridButton.png);
    background-repeat: no-repeat;
}
.circle#EV_8_btn, 
.circle#PHEV_8_btn, 
.circle#HEV_8_btn, 
.circle#SI_8_btn
{
    background-size: 100% 100%;
    background-image: url(../assets/popups/8_HybridButton.png);
    background-repeat: no-repeat;
}
