@font-face {
    font-family: Soleto-Regular;
    src: url(../assets/eDSF/fonts/Soleto_Rg.ttf);
}

@font-face {
    font-family: Soleto-Light;
    src: url(../assets/eDSF/fonts/Soleto_Lt.ttf);
}

@font-face {
    font-family: Soleto-Bold;
    src: url(../assets/eDSF/fonts/Soleto_XBd.ttf);
}

html:-webkit-full-screen-ancestor {
	background-color: #062359;
}
body {
    width: 1920px;
    height: 1080px;
    font-family: Soleto-Regular;
    -webkit-font-smoothing: antialiased;
/*    cursor: none;*/
}
img {
	position: relative !important;
	width: 100%;
}
img.animate {
    display: none;
}
.img-div {
	position: absolute;
	overflow: hidden;
}
.img-div > img {
	display: none;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
button {
	border: none;
	background: none;
/*	cursor: none;*/
}
button:focus {
	outline:0;
}
.slide-btn {
	position: absolute;
/*	border: 1px solid #000;*/
}
a {
	background: none !important;
}
#slideNumber {
	display: none;
    position: absolute;
    font-size: 32em;
    color: rgba(238, 238, 238, 0.46);
    float: right;
    right: -4%;
    height: 5%;
    background: none;
}
#first-background {
	display: none;
}
#watermark {
	position: absolute !important;
	left: 0;
	bottom: 0;
	width: 100%;
}
#video-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
}
#header-title {
	width: 38%;
	position: absolute !important;
	top: 0;
}

#exit-fs {
	width: 7%;
	height: 10%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3000;
}
/* MAIN NAVIGATION */

.right-nav {
	position: absolute;
	top: 36%;
	right: 20px;
	height: 165px;
	width: 60px;
	z-index: 1000;
}
.left-nav {
	position: absolute;
	top: 36%;
	float: left;
	height: 165px;
	width: 60px;
	z-index: 1000;
}
#home {
	width: 60px;
}
#home-btn {
	width: 60px;
	height: 50px;
}
.nav-btn {
	display: block;
	width: 100%;
	height: 50%;
	background-size: 64% 100%;
	background-repeat: no-repeat;
	background-position: 20px 0px;
}
.leftSlide {
	background-image: url(../assets/eDSF/icon-caret-left.png);
}
.rightSlide {
	margin-bottom: 20px;
	background-image: url(../assets/eDSF/icon-caret-right.png);
}
.leftSlide.disabled {
	background-image: url(../assets/eDSF/Arrow_light_light.png);
}
.rightSlide.disabled {
	background-image: url(../assets/eDSF/Arrow_light_right.png);
}
.reveal {
    background-image: url(../assets/eDSF/slide_app_bkg.png);
}
.reveal .slides {
    width: 100% !important;
    margin: none;
    left: 0px;
    right: 0px;
}
/* HEADER */
video {
    width: 1920px;
    height: 1080px;
}
.vidSlides {display:none; }
.vidSlides.active {display:block; }
#vidLayer {width:1920px; height:1080px; }

#previous-btn.slide--0 {opacity:0; -moz-opacity: 0; transition: opacity .6s; }
#previous-btn, #play-btn, #next-btn { transition: all .6s;}
.top-header {
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	height: auto; 
	padding:24.5px 30px; 
	background:#ffffff; 
	z-index:20;
}
.top-header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:80%;
}


.slideFeature {    
    position: absolute;
    width: 671px;
    height: 231px;
    left: 0px;
    bottom: -98px;
    display:block;
    background-size: 671px 231px;
    background-image: url(../assets/eDSF/Drive_profile_bg.png);
}

.slideFeature.active {left:0px; }

    
    .slideImg img{width:auto; }
    .slideImg {position:absolute; bottom:18px; left:200px; }

.navLayer {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 100px); 
    width: 205px; 
    height: 60px; 
    z-index: 9999999; 
}
.navLayer > button {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 6px; 
    background-size:60px 61px;
}
#previous-btn {
    left: 21px;
    background-image: url(../assets/eDSF/btn_back@2x.png);
}
#next-btn {
    left: 180px;
    background-image: url(../assets/eDSF/btn_forward@2x.png);
}
#play-btn {
    left: 100px;
    background-image: url(../assets/eDSF/btn_play@2x.png)
}
#play-btn.active {
    background-image: url(../assets/eDSF/btn_pause@2x.png);
}

.top-header {position:absolute;}
.top-header .title {float:left; width:90%; }
.top-header .menuNav {position:absolute; top:20px; right:30px; }

.top-header > ul > li {
	display: inline;
	text-align: center;
	padding: 0px 15px;
	color: #000;
	font-size: 36px;
	font-family: Soleto-Regular;
}
.top-header > ul > li.active {
	color: #0000ff;
	padding-left: 70px;
}
.top-header > ul:not(#custom_header) > li:not(:last-child) {
	border-right: 1px solid #000;
}
#last_header {
	display: none;
}
#custom_header > li:not(.active) {
	display: none;
}
/* FOOTER */
.btm-nav-btn {
	color: #fff;
	height: 59px;
}
.footer-menu {
	position: absolute;
	width: 100%;
	text-align: center;
	background: #8C9FAF;
}
.footer-menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 15%;
    margin-bottom: 1.2%;
    margin-top: 1.2%;
}

.footer-menu > ul > li > a:hover, 
.footer-menu > ul > li > a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:hover
{
	background-color: transparent !important;
}

.footer-menu > ul > li {
	display: inline;
	text-align: center;
/*	padding: 3px 15px;*/
	margin-right: 25px;
	font-size: 20px;
	height: 60px;
	font-family: Soleto-Bold;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#navigator-btn {
	width: 40px;
    height: 34px;
    border: none;
    background: none;
	background-image: url(../assets/eDSF/Asset_4@2x.png);	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float:right; 
	background-color:transparent; 
	border-radius:0px; 
	top:0px; 
	margin-top:10px; 
}





.slideTxt-1 {position:absolute;  left:57px; width:465px; height:854px; z-index:20; top:150px; }
.slideTxt-2 {position:absolute;  left:100px; width:465px; height:854px; z-index:20; top:450px; }

.slideTxt-1 img, .slideTxt-2 img {width:auto; }

.slideTxt-side {position:absolute;  left:108px; width:27px; height:537px; z-index:20; top:150px;}

.slideTxt-caption {position:absolute;  right:85px; z-index:20; top:150px; }
.slideTxt-caption-sub{position:absolute;  left:185px; z-index:20; top:350px;width:323px; height:107px; }


.slideTxt-caption-sub1{position:absolute;  left:485px; z-index:20; top:150px;width:260px; height:104px; }



/* SECTIONS */
.main-title {
	opacity: 0;
	text-align: left;
	font-size: 55px;
	padding-bottom: 33px !important;
	color: #0000ff;
	padding-left: 18px !important;
	font-family: Soleto-Light;
}
#slide-1 > .main-title {
	margin-top: 3%;
	margin-left: 2%;
}
.content {
    padding-top: 65px;
}
.footer-text {
	position: absolute;
	bottom: 0px;
	height: 130px;
	width: 100%;
    font-size: 34px;
	color: #0000ff;
}
.footer-text > p {
	line-height: 40px;
	padding-top: 30px;
}
.footer-text > p.double {
	padding-top: 22px;
}
.top-footer-line, 
.btm-footer-line {
	width: 0%;
    position: absolute;
    height: 100%;
	overflow: hidden;
}
.top-footer-line > img, 
.btm-footer-line > img {
	position: absolute !important;
	width: 1073px;
}
.btm-footer-line > img {
	right: 0;
	bottom: 0;
}
.top-footer-line > img {
	left: 0;
}
.top-footer-line {
    left: -5%;
    top: 0;
}
.btm-footer-line {
	bottom: 0;
	right: -5%;
}
.full-width {
	width: 100%;
	left: 20px;
	top: 120px;
}
.slideText0 {
    position: absolute;
    left: 487px;
    top: 210px;
    width: 260px;
}
.DCCO {
     position: absolute;
    left: 347px;
    top: 364px;
    width: 340px;   
}
.turbo {
    position: absolute;
    left: 447px;
    top: 444px;
    width: 160px;      
}
#reload-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    z-index: 99999;
}